services:
  database:
    container_name: "provareal-dev"
    image: "postgres:17.5-alpine"
    env_file:
      - ../.env.development
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
